

body
{
  background-color: rgb(152, 214, 214);
  font-family: 'Avenir', sans-serif; 
  color: #33475b;
}
.image 
{
  width: 400px;
  height: 400px; 
  display: flex;
  justify-content: center;
  
 }

 .btn
 {
   background-color: coral;
   width: 130px;
   color: rgb(76, 47, 9);
 }

 input
 {
  box-shadow: chocolate;
  border-radius: 10px;
 }
 
 
 